
body
  background-color black
  color white
  text-align left
  font-size large
  font-weight bold

header
  nav
    color white
    #title
      text-align center
    a
      color white
    ul
      display inline
      list-style none
      text-align center
      li
        padding-right 0.5em
        display inline

#ws_console
  border-radius 7
  background-color white
  color black
  height 100%

