<h1>Listing patient_infos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patient_infos.each do |patient_info| %>
  <tr>
    <td><%= link_to 'Show', patient_info %></td>
    <td><%= link_to 'Edit', edit_patient_info_path(patient_info) %></td>
    <td><%= link_to 'Destroy', patient_info, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient info', new_patient_info_path %>
